<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857658210283-kkdqsg2cuoi18jfludnkhtothbf6mqai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857658210283-kkdqsg2cuoi18jfludnkhtothbf6mqai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857658210283-dbr4bvjuqd2av78bm4hshj1jffsla04e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE8psvq69i-sqNb-ybdssEVjPIqD48gGg</string>
	<key>GCM_SENDER_ID</key>
	<string>857658210283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMicrosoftLogin</string>
	<key>PROJECT_ID</key>
	<string>wealthflow-login</string>
	<key>STORAGE_BUCKET</key>
	<string>wealthflow-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857658210283:ios:cddc81bdf5a8c53f380bae</string>
</dict>
</plist>